hr{
  color: #ffffff;
}
.firstSection {
  background-image: url(img/download.png);
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.firstSection>.right {
  font-size: 3rem;
  color: white;
  position: relative;
  bottom: 9vh;
  text-align: center;
  width: 550px;
  background-color: rgba(25, 24, 24, 0.555);
  border-radius: 50px;
}

.firstSection .left img {
  border-radius: 50%;
  position: relative;
  bottom: 3vw;
}

nav img {
  border-radius: 50%;
  width: 3vw;
}

#navtest {
  position: relative;
  left: 4vw
}

/* Other styles */

/* About section styles */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.about-card {
  background-color: #302e2e;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}
.about-card h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

.about-card p {
  color: #ffffff;
  margin-bottom: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}
.secondSection{
  background-color: #1d1d1f;
}
.sectionNav{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.3rem;
}
.service-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-card {
  display: flex;
  align-items: center;
  background-color: #302e2e;
  border-radius: 20px;
  padding: 20px;
  color: #ffffff;
}

.icon {
  font-size: 2rem;
  margin-right: 20px;
}

.text-card {
  flex: 1;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .service-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .icon {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
.thirdSection{
  height: 80vh;
  background-color: #1d1d1f;
  color: #ffffff;
}
.serviceSection1{
  display:flex;
  justify-content: space-around;
  margin-bottom: 20vh;
}
.serviceSection2{
  display:flex;
  justify-content: space-around;
}
.serviceCard{
  background-color: #302e2e;
  border-radius: 20px;
  padding: 20px;
  width: 60vw;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}
